{{!-- breadcrumb-section --}}
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic</p>
                    <h1>Cart</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- end breadcrumb section --}}

{{!-- cart --}}
<div class="cart-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="cart-table-wrap">
                    <table class="cart-table">
                        <thead class="cart-table-head">
                            <tr class="table-head-row">
                                <th class="product-remove"></th>
                                <th class="product-image">Product Image</th>
                                <th class="product-name">Name</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each this.cart.itemList as |item|}}
                             <tr class="table-body-row">
                                <td class="product-remove"><a {{on "click" (fn this.removeFromCart item)}}><i class="far fa-window-close">x</i></a></td>
                                {{!-- <td class="product-remove"><a href="#"><i class="far fa-window-close">x</i></a></td> --}}
                                <td class="product-image"><img src="assets/img/products/product-img-1.jpg" alt=""></td>
                                <td class="product-name">{{item.name}}</td>
                                    <td class="product-price">{{item.price}}</td>
                                    <td class="product-quantity"><input type="number" 
                                    min="0"
                                    value={{item.count}}
                                    {{on "input" (fn this.updateItemCount item)}}
                                    ></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="total-section">
                    <table class="total-table">
                        <thead class="total-table-head">
                            <tr class="table-total-row">
                                <th>Total</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="total-data">
                                <td><strong>Subtotal: </strong></td>
                                <td>{{currency this.subtotal}}</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Tax: </strong></td>
                                <td>{{currency this.tax}}</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Total: </strong></td>
                                <td>{{currency this.total}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="cart-buttons">
                        <a href="cart" class="boxed-btn">Update Cart</a>
                        <a type="button" class="boxed-btn black" {{on "click" this.checkout}}>Check Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- end cart --}}