{{page-title "History"}}
{{!-- breadcrumb-section --}}
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h1>Order History</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- end breadcrumb section --}}

<div class="login-section mt-100 mb-100">
    <div class="container">

        <div class="row">
            <div class="">
                {{#if this.model.length}}
                <ul>
                    {{#each this.model as |order|}}
                        <LinkTo @route="orderdetails" @model={{order.id}}>
                            <div class="food p-3 mb-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h3 class="mb-0">Order ID: {{order.id}}</h3>
                                    <span>{{ order.placeDate}}</span>
                                </div>
                                <div>Price: {{order.totalPrice}}</div>
                            </div>
                        </LinkTo>
                    {{/each}}
                </ul>
                {{else}}
                <p>No orders found.</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>